:root {
    --bg-primary: #0F2E43;
    --bg-background: #F0F0F0;
    --dark: #353535;
    --dark-tint: #8f8f8f;
    --light: #96afb8;
    --danger: #dc3545;
    --success: #38b000;
    --info: #0096c7;
    --warning: #FFC107;
    --font-small: 0.8em;
    --text-slate-400: rgb(148 163 184);
    --text-slate-500: rgb(100 116 139);
    --text-slate-600: rgb(71 85 105);
    --card-border: 12px;
    --bg-accent: #E59D23;
    --pdf: #B51308;
}

.dropify-wrapper .dropify-message p {
    font-size: 16px !important;
}


.pv-archiveText {
    /*width: 250px;*/
}
.pv-archiveText p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-dark {
    color: color-mix(in srgb, white 20%, black);
}



.lazy-backdrop {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    cursor: pointer;
}









.main-content {
    padding: 1rem 3rem;
}

.img-slider-item {
    height: 500px;
    object-fit: contain;
}

.breadcrumb {
    padding: 0.75rem 1rem;
    background-color: transparent;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    text-decoration: none !important;
    color: var(--dark) !important;
    font-size: 0.8rem !important;
    font-weight: 600 !important;
}

.breadcrumb-item.active {
    text-decoration: none !important;
    color: var(--dark-tint) !important;
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    display: flex !important;
    align-items: center !important;
    align-self: center !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    content: "\203A";
    /*font-weight: bold;*/
    color: var(--dark-tint);
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: 1.5rem !important;
    align-self: center !important;
}

.breadcrumb-item.active::before {
    font-weight: normal !important;
}

.page-title {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 0;
}



.input-label {
    font-size: 0.8em;
    color: var(--dark);
    font-weight: 600 !important;
}

.input-label-error {
    font-size: 0.6em;
    font-weight: 500;
    color: var(--danger);
}

.text-group-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--light);
    border-radius: 5px;
    width: 100%;
    transition: all ease-in-out 200ms;
    background-color: white;
}

.text-group-container:focus-within {
    border-color: color-mix(in srgb, black 20%, var(--light));
}

.text-group-container:focus-within i {
    color: var(--dark);
}

.text-group-container i {
    color: var(--light);
    margin-left: 0.5rem;
    transition: all ease-in-out 200ms;
}

.text-group-input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 0.5rem;
    font-size: 0.8em;
    border-radius: 5px;
    color: var(--dark);
    outline: none;
    box-shadow: none;
    border: none;
    line-height: 0 !important;
}

.text-group-input:focus {
    outline: none;
}

.text-input {
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 0.8em;
    border-radius: 5px;
    color: var(--dark);
    outline: none;
    box-shadow: none;
    border: 1px solid var(--light);
    transition: all ease-in-out 200ms;
}

.text-input:focus {
    outline: none;
    border-color: color-mix(in srgb, black 20%, var(--light));
}

select.text-input {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;

}

.chip-status-danger {
    color: white;
    background-color: var(--danger);
    width: 100%;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 4px;
    text-align: center;
}

.chip-status-success {
    color: white;
    background-color: var(--success);
    width: 100%;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 4px;
    text-align: center;
}

.chip-status-info {
    color: white;
    background-color: var(--info);
    width: 100%;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 4px;
    text-align: center;
}

.chip-status-warning {
    color: var(--dark);
    background-color: var(--warning);
    width: 100%;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 4px;
    text-align: center;
}

.delivery-status-container {
    background-color: #52b788;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.delivery-status-container i {
    color: white;
    font-size: 1em;
}

/*datatable*/
.dataTables_wrapper {
    font-size: 0.8em;
}

.dataTables_scrollHeadInner {
    padding-right: 0 !important;
}

.dataTables_wrapper .pagination .page-link {
    font-size: 1em;
}

.dataTables_wrapper .pagination .page-item.active .page-link {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}



table.dataTable td.dt-control:before {
    display: none !important;
    color: rgba(0, 0, 0, 0.5);
    content: "►";
}

.dt-control {
    cursor: pointer;
}

.middle-header {
    vertical-align: middle !important;
}

/*.product-list-container {*/
/*    width: 100%;*/
/*    min-height: 400px;*/
/*    background-color: red;*/
/*}*/



/*.product-detail-image-container {*/
/*    flex: 1;*/
/*    !*border-right: 1px solid var(--dark-tint);*!*/
/*}*/

/*.product-detail-image-container .image-container {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    border: 1px solid var(--dark-tint);*/
/*    border-radius: 12px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.image-container img {*/
/*    height: 380px;*/
/*    width: 380px;*/
/*    object-fit: cover;*/
/*    object-position: center center;*/
/*    border-radius: 12px;*/
/*}*/

/*.product-detail-info-container {*/
/*    flex: 1;*/
/*}*/

/*.product-detail-info-container .product-detail-name {*/
/*    color: var(--dark);*/
/*    font-size: 1.75em;*/
/*    font-weight: 600;*/
/*    margin-bottom: 0;*/
/*}*/

/*.product-detail-info-container .product-detail-specification {*/
/*    color: var(--dark-tint);*/
/*    font-size: 1em;*/
/*    font-weight: 400;*/
/*    margin-bottom: 0;*/
/*}*/

/*.product-detail-info-container .product-detail-action {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*}*/

/*.product-detail-action .btn-add-cart {*/
/*    width: 100%;*/
/*    background-color: var(--bg-accent);*/
/*    border: 1px solid var(--bg-accent);*/
/*    color: white;*/
/*    padding: 0.5rem 1.5rem;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-weight: 500;*/
/*    transition: all ease-in-out 200ms;*/
/*}*/

/*.product-detail-action .btn-add-cart:hover {*/
/*    background-color: color-mix(in srgb, 10% black, var(--bg-accent));*/
/*    border: 1px solid color-mix(in srgb, 10% black, var(--bg-accent));*/
/*}*/

/*.product-detail-action .btn-add-cart i {*/
/*    margin-right: 0.5rem;*/
/*}*/

/*.product-detail-action .btn-shop {*/
/*    width: 100%;*/
/*    background-color: var(--bg-primary);*/
/*    border: 1px solid var(--bg-primary);*/
/*    color: var(--dark);*/
/*    padding: 0.5rem 1.5rem;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-weight: 500;*/
/*    transition: all ease-in-out 200ms;*/
/*}*/

/*.product-detail-action .btn-shop:hover {*/
/*    background-color: color-mix(in srgb, 10% white, var(--bg-primary));*/
/*    border: 1px solid color-mix(in srgb, 10% white, var(--bg-primary));*/
/*}*/

/*.product-detail-action .btn-shop i {*/
/*    margin-right: 0.5rem;*/
/*}*/
